body {
    height: 100vh;
    background: url("../_image/home-background.svg") no-repeat #F0F0F5;
    background-position: 35vw 18vh;
}

.content .header {
    width: 100%;
    height: 15vh;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .header .logo {
    width: 181px;
    height: 44px;
}
.content .header .logo figcaption {
    visibility: hidden;
}
.content .header .cadastro {
    width: 250px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.content .header .cadastro p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: var(--texto);
}

.content .main {
    width: 100%;
    height: 85vh;
    min-height: 300px;
    display: flex;
    align-items: center;
}
.content .main .left {
    width: 45vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content .main .left h1 {
    width: 100%;
    margin-left: 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 64px;
    color: var(--texto);
}
.content .main .left h2 {
    width: 448px;
    height: 76px;
    margin: 24px auto 40px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: var(--texto-secundario);
}
.content .main .left .btn {
    width: 348px;
    height: 72px;
    background: var(--verde-claro);
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.content .main .left .btn .btn-search-square {
    width: 72px;
    height: 100%;
    background: var(--verde-escuro);
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.content .main .left .btn .btn-search-square img {
    width: 25px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.content .main .left .btn .btn-text-square {
    background: none;
    border: none;
    margin: auto;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

/* Aula 3 - 59:00 */