/* Responsivo do index.html */
@media (max-width: 900px) {
    body {
        background-position: 70vw 100vh;
    }
    .content .header {
        justify-content: center;
    }
    .content .header .logo {

    }
    .content .header .cadastro {
        position: absolute;
        bottom: 5vh;
        left: 50%;
        transform: translateX(-50%);
    }

    .content .main {
        height: 70vh;
    }
    .content .main .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content .main .left h1 {
        width: 100%;
        text-align: center;
    }
    .content .main .left h2 {
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}